# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HSE\Cont5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
